In [1]:
from understatapi import UnderstatClient
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
understat = UnderstatClient()

understat = UnderstatClient()
epl_2020 = understat.league("EPL").get_match_data(season="2020")
df_epl_2020 = pd.DataFrame.from_dict(epl_2020)
df_epl_2020

,id,isResult,h,a,goals,xG,datetime,forecast
0,14086,True,"{'id': '228', 'title': 'Fulham', 'short_title'...","{'id': '83', 'title': 'Arsenal', 'short_title'...","{'h': '0', 'a': '3'}","{'h': '0.126327', 'a': '2.16287'}",2020-09-12 11:30:00,"{'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}"
1,14087,True,"{'id': '78', 'title': 'Crystal Palace', 'short...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '1', 'a': '0'}","{'h': '1.39569', 'a': '1.26267'}",2020-09-12 14:00:00,"{'w': '0.3916', 'd': '0.3022', 'l': '0.3062'}"
2,14090,True,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '245', 'title': 'Leeds', 'short_title':...","{'h': '4', 'a': '3'}","{'h': '3.15412', 'a': '0.269813'}",2020-09-12 16:30:00,"{'w': '0.9658', 'd': '0.0296', 'l': '0.0046'}"
3,14091,True,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '86', 'title': 'Newcastle United', 'sho...","{'h': '0', 'a': '2'}","{'h': '0.861445', 'a': '1.65911'}",2020-09-12 19:00:00,"{'w': '0.1506', 'd': '0.248', 'l': '0.6014'}"
4,14092,True,"{'id': '76', 'title': 'West Bromwich Albion', ...","{'id': '75', 'title': 'Leicester', 'short_titl...","{'h': '0', 'a': '3'}","{'h': '0.352997', 'a': '2.95581'}",2020-09-13 13:00:00,"{'w': '0.007', 'd': '0.0358', 'l': '0.9572'}"
...,...,...,...,...,...,...,...,...
375,14810,True,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '78', 'title': 'Crystal Palace', 'short...","{'h': '2', 'a': '0'}","{'h': '2.20348', 'a': '0.772317'}",2021-05-23 15:00:00,"{'w': '0.7516', 'd': '0.173', 'l': '0.0754'}"
376,14811,True,"{'id': '88', 'title': 'Manchester City', 'shor...","{'id': '72', 'title': 'Everton', 'short_title'...","{'h': '5', 'a': '0'}","{'h': '2.88355', 'a': '1.07258'}",2021-05-23 15:00:00,"{'w': '0.7906', 'd': '0.1483', 'l': '0.0611'}"
377,14812,True,"{'id': '238', 'title': 'Sheffield United', 'sh...","{'id': '92', 'title': 'Burnley', 'short_title'...","{'h': '1', 'a': '0'}","{'h': '0.420006', 'a': '0.558508'}",2021-05-23 15:00:00,"{'w': '0.2153', 'd': '0.467', 'l': '0.3177'}"
378,14813,True,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '3', 'a': '0'}","{'h': '1.98344', 'a': '1.35179'}",2021-05-23 15:00:00,"{'w': '0.5303', 'd': '0.2337', 'l': '0.236'}"
379,14814,True,"{'id': '229', 'title': 'Wolverhampton Wanderer...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '1', 'a': '2'}","{'h': '0.701256', 'a': '2.05229'}",2021-05-23 15:00:00,"{'w': '0.0767', 'd': '0.1725', 'l': '0.7508'}"

In [3]:
df_epl_2020['homeTeam'] = df_epl_2020['h'].apply(lambda x: x['title'])
df_epl_2020['awayTeam'] = df_epl_2020['a'].apply(lambda x: x['title'])
df_epl_2020['homeGoals'] = df_epl_2020['goals'].apply(lambda x: int(x['h']))
df_epl_2020['awayGoals'] = df_epl_2020['goals'].apply(lambda x: int(x['a']))
df_epl_2020['homexG'] = df_epl_2020['xG'].apply(lambda x: x['h'])
df_epl_2020['awayxG'] = df_epl_2020['xG'].apply(lambda x: x['a'])
df_epl_2020

,id,isResult,h,a,goals,xG,datetime,forecast,homeTeam,awayTeam,homeGoals,awayGoals,homexG,awayxG
0,14086,True,"{'id': '228', 'title': 'Fulham', 'short_title'...","{'id': '83', 'title': 'Arsenal', 'short_title'...","{'h': '0', 'a': '3'}","{'h': '0.126327', 'a': '2.16287'}",2020-09-12 11:30:00,"{'w': '0.0037', 'd': '0.0476', 'l': '0.9487'}",Fulham,Arsenal,0,3,0.126327,2.16287
1,14087,True,"{'id': '78', 'title': 'Crystal Palace', 'short...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '1', 'a': '0'}","{'h': '1.39569', 'a': '1.26267'}",2020-09-12 14:00:00,"{'w': '0.3916', 'd': '0.3022', 'l': '0.3062'}",Crystal Palace,Southampton,1,0,1.39569,1.26267
2,14090,True,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '245', 'title': 'Leeds', 'short_title':...","{'h': '4', 'a': '3'}","{'h': '3.15412', 'a': '0.269813'}",2020-09-12 16:30:00,"{'w': '0.9658', 'd': '0.0296', 'l': '0.0046'}",Liverpool,Leeds,4,3,3.15412,0.269813
3,14091,True,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '86', 'title': 'Newcastle United', 'sho...","{'h': '0', 'a': '2'}","{'h': '0.861445', 'a': '1.65911'}",2020-09-12 19:00:00,"{'w': '0.1506', 'd': '0.248', 'l': '0.6014'}",West Ham,Newcastle United,0,2,0.861445,1.65911
4,14092,True,"{'id': '76', 'title': 'West Bromwich Albion', ...","{'id': '75', 'title': 'Leicester', 'short_titl...","{'h': '0', 'a': '3'}","{'h': '0.352997', 'a': '2.95581'}",2020-09-13 13:00:00,"{'w': '0.007', 'd': '0.0358', 'l': '0.9572'}",West Bromwich Albion,Leicester,0,3,0.352997,2.95581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,14810,True,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '78', 'title': 'Crystal Palace', 'short...","{'h': '2', 'a': '0'}","{'h': '2.20348', 'a': '0.772317'}",2021-05-23 15:00:00,"{'w': '0.7516', 'd': '0.173', 'l': '0.0754'}",Liverpool,Crystal Palace,2,0,2.20348,0.772317
376,14811,True,"{'id': '88', 'title': 'Manchester City', 'shor...","{'id': '72', 'title': 'Everton', 'short_title'...","{'h': '5', 'a': '0'}","{'h': '2.88355', 'a': '1.07258'}",2021-05-23 15:00:00,"{'w': '0.7906', 'd': '0.1483', 'l': '0.0611'}",Manchester City,Everton,5,0,2.88355,1.07258
377,14812,True,"{'id': '238', 'title': 'Sheffield United', 'sh...","{'id': '92', 'title': 'Burnley', 'short_title'...","{'h': '1', 'a': '0'}","{'h': '0.420006', 'a': '0.558508'}",2021-05-23 15:00:00,"{'w': '0.2153', 'd': '0.467', 'l': '0.3177'}",Sheffield United,Burnley,1,0,0.420006,0.558508
378,14813,True,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '3', 'a': '0'}","{'h': '1.98344', 'a': '1.35179'}",2021-05-23 15:00:00,"{'w': '0.5303', 'd': '0.2337', 'l': '0.236'}",West Ham,Southampton,3,0,1.98344,1.35179
379,14814,True,"{'id': '229', 'title': 'Wolverhampton Wanderer...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '1', 'a': '2'}","{'h': '0.701256', 'a': '2.05229'}",2021-05-23 15:00:00,"{'w': '0.0767', 'd': '0.1725', 'l': '0.7508'}",Wolverhampton Wanderers,Manchester United,1,2,0.701256,2.05229

In [4]:
home = df_epl_2020[['homeTeam', 'awayTeam', 'homeGoals']].assign(home=1).rename(
    columns={'homeTeam': 'team', 'awayTeam': 'opponent', 'homeGoals': 'goals'})

home

                        team           opponent  goals  home
0                     Fulham            Arsenal      0     1
1             Crystal Palace        Southampton      1     1
2                  Liverpool              Leeds      4     1
3                   West Ham   Newcastle United      0     1
4       West Bromwich Albion          Leicester      0     1
..                       ...                ...    ...   ...
375                Liverpool     Crystal Palace      2     1
376          Manchester City            Everton      5     1
377         Sheffield United            Burnley      1     1
378                 West Ham        Southampton      3     1
379  Wolverhampton Wanderers  Manchester United      1     1

[380 rows x 4 columns]

In [5]:
away = df_epl_2020[['awayTeam', 'homeTeam', 'awayGoals']].assign(home=0).rename(
    columns={'awayTeam': 'team', 'homeTeam': 'opponent', 'awayGoals': 'goals'})
away

                  team                 opponent  goals  home
0              Arsenal                   Fulham      3     0
1          Southampton           Crystal Palace      0     0
2                Leeds                Liverpool      3     0
3     Newcastle United                 West Ham      2     0
4            Leicester     West Bromwich Albion      3     0
..                 ...                      ...    ...   ...
375     Crystal Palace                Liverpool      0     0
376            Everton          Manchester City      0     0
377            Burnley         Sheffield United      0     0
378        Southampton                 West Ham      0     0
379  Manchester United  Wolverhampton Wanderers      2     0

[380 rows x 4 columns]

In [6]:
goal_model_data = pd.concat([home, away]).reset_index(drop=True)
goal_model_data

                     team                 opponent  goals  home
0                  Fulham                  Arsenal      0     1
1          Crystal Palace              Southampton      1     1
2               Liverpool                    Leeds      4     1
3                West Ham         Newcastle United      0     1
4    West Bromwich Albion                Leicester      0     1
..                    ...                      ...    ...   ...
755        Crystal Palace                Liverpool      0     0
756               Everton          Manchester City      0     0
757               Burnley         Sheffield United      0     0
758           Southampton                 West Ham      0     0
759     Manchester United  Wolverhampton Wanderers      2     0

[760 rows x 4 columns]

In [7]:
poisson_model = smf.glm(formula="goals ~ home + team + opponent", data=goal_model_data,
                        family=sm.families.Poisson()).fit()
poisson_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                  760
Model:                            GLM   Df Residuals:                      720
Model Family:                 Poisson   Df Model:                           39
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1093.9
Date:                Tue, 17 Oct 2023   Deviance:                       873.96
Time:                        20:19:47   Pearson chi2:                     785.
No. Iterations:                     5   Pseudo R-squ. (CS):             0.1795
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                               0.0867      0.214      0.405      0.686      -0.333       0.507
team[T.Aston Villa]                     0.0072      0.191      0.038      0.970      -0.367       0.381
team[T.Brighton]                       -0.3120      0.208     -1.500      0.134      -0.720       0.096
team[T.Burnley]                        -0.4956      0.220     -2.248      0.025      -0.928      -0.064
team[T.Chelsea]                         0.0502      0.188      0.266      0.790      -0.319       0.419
team[T.Crystal Palace]                 -0.2667      0.207     -1.291      0.197      -0.672       0.138
team[T.Everton]                        -0.1483      0.199     -0.746      0.456      -0.538       0.241
team[T.Fulham]                         -0.6986      0.235     -2.970      0.003      -1.160      -0.238
team[T.Leeds]                           0.1357      0.186      0.731      0.464      -0.228       0.499
team[T.Leicester]                       0.2242      0.182      1.235      0.217      -0.132       0.580
team[T.Liverpool]                       0.2158      0.182      1.189      0.235      -0.140       0.572
team[T.Manchester City]                 0.4053      0.174      2.328      0.020       0.064       0.747
team[T.Manchester United]               0.2891      0.179      1.617      0.106      -0.061       0.640
team[T.Newcastle United]               -0.1555      0.200     -0.777      0.437      -0.548       0.237
team[T.Sheffield United]               -0.9890      0.261     -3.785      0.000      -1.501      -0.477
team[T.Southampton]                    -0.1276      0.199     -0.641      0.521      -0.518       0.262
team[T.Tottenham]                       0.2190      0.182      1.206      0.228      -0.137       0.575
team[T.West Bromwich Albion]           -0.4150      0.217     -1.917      0.055      -0.839       0.009
team[T.West Ham]                        0.1284      0.185      0.692      0.489      -0.235       0.492
team[T.Wolverhampton Wanderers]        -0.4115      0.215     -1.917      0.055      -0.832       0.009
opponent[T.Aston Villa]                 0.1655      0.218      0.759      0.448      -0.262       0.593
opponent[T.Brighton]                    0.1501      0.218      0.689      0.491      -0.277       0.577
opponent[T.Burnley]                     0.3221      0.210      1.537      0.124      -0.089       0.733
opponent[T.Chelsea]                    -0.0772      0.231     -0.333      0.739      -0.531       0.376
opponent[T.Crystal Palace]              0.5130      0.202      2.537      0.011       0.117       0.909
opponent[T.Everton]                     0.1999      0.216      0.926      0.354      -0.223       0.623
opponent[T.Fulham]                      0.2789      0.211      1.321      0.187      -0.135       0.693
opponent[T.Leeds]                       0.3336      0.210      1.585      0.113      -0.079       0.746
opponent[T.Leicester]                   0.2627      0.214      1.228      0.220      -0.157       0.682
opponent[T.Liverpool]                   0.0877      0.223      0.394      0.694      -0.349       0.524
opponent[T.Manchester City]            -0.1694      0.239     -0.709      0.478      -0.637       0.299
opponent[T.Manchester United]           0.1396      0.220      0.634      0.526      -0.292       0.571
opponent[T.Newcastle United]            0.4555      0.205      2.226      0.026       0.054       0.857
opponent[T.Sheffield United]            0.4449      0.204      2.182      0.029       0.045       0.845
opponent[T.Southampton]                 0.5492      0.201      2.731      0.006       0.155       0.943
opponent[T.Tottenham]                   0.1569      0.219      0.716      0.474      -0.272       0.586
opponent[T.West Bromwich Albion]        0.6483      0.197      3.287      0.001       0.262       1.035
opponent[T.West Ham]                    0.1943      0.217      0.896      0.370      -0.231       0.619
opponent[T.Wolverhampton Wanderers]     0.2689      0.212      1.268      0.205      -0.147       0.685
home                                    0.0078      0.063      0.125      0.901      -0.115       0.130
=======================================================================================================
"""